.details-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.line-break {
    height: 10px;
}

.info-container {
    margin-right: 10px;
}

.book-title {
    font-weight: bold;
}

.book-subtitle {
    font-style: italic;
}

.book-author {
    display: block;
}

.summary-wrapper {
    width: 100%;
    clear: both;
}

.create-book .modal {
	width: 800px;
}

.create-book .setting-item-control input {
	width: 500px;
}

.create-book .setting-item-control textarea {
	height: 12rem;
    width: 500px;
}

.create-post .modal {
	width: 800px;
}

.create-post .setting-item-control input {
	width: 500px;
}

.create-article .modal {
	width: 800px;
}

.create-article .setting-item-control input {
	width: 500px;
}

.cover-image-create {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 128px;
}

.cover-image-input {
    display: block;
	width: 500px;
    margin-bottom: 10px;
}

.cover-image {
    max-width: 128px;
}

.folder-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.folder-card:hover {
    background-color1: #f3f3f3;
    background-color: rgb(0 0 0 / 0.07)
}

.folder-card h3 {
    margin-top: 0;
}

.folder-card p {
    color1: #555555;
    font-size: 0.9em;
}

.folder-title-link {
    text-decoration: none; /* No underline on the title link */
    color: inherit; /* Inherits color from parent elements */
}

.folder-cover-image {
    max-width: 150px; /* Adjust as needed */
    max-height: 200px;
    /*height: auto; /* Maintain aspect ratio */
    /* Other styling properties */
}

.folder-card-content {
    padding-right: 16px;
    /* Content comes after the image */
    /* ... other styles ... */
}

.folder-card-content .tag {
    white-space: nowrap;
    padding-bottom: 2px;
    padding-top: 2px;
}

@media screen and (max-width: 960px) {
    .folder-card {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .folder-cover-image {
        order: 1;
        mmax-width: 100%; /* Full width of the card */
        mmax-height: none; /* Remove max height constraint */
        margin-bottom: 10px; /* Add some space between image and content */
    }
    
    .folder-card-content {
        order: 2;
        width: 100%; /* Full width of the card */
    }
}

.youtube .modal {
    width: 800px;
}
