/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.details-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-container {
    margin-right: 10px;
}

.book-title {
    font-weight: bold;
    /* Add any other styling you need here */
    margin-bottom1: 5px;
}

.book-author {
    display: block;
}

.summary-wrapper {
    width: 100%;
    clear: both;
}

.create-book .modal {
	width: 800px;
}

.create-book .setting-item-control input {
	width: 500px;
}

.create-book .setting-item-control textarea {
	height: 12rem;
    width: 500px;
}

.line-break {
    height: 10px; /* Adjust the height to control the space */
}

.cover-image-create {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 128px;
}

.cover-image-input {
    display: block;
	width: 500px;
    margin-bottom: 10px;
}

.cover-image {
    max-width: 128px;
}
